<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="side-panel">
      <h2>Menu</h2>
      <ul>
        <li><a href="/">Generate</a></li>
        <li><a href="/decode">Decode</a></li>
        <li>Settings</li>
      </ul>
    </div>

    <div class="main-content">
      <h1>Decode QR Code</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci ut
        sint, in accusantium distinctio, provident quas magni earum incidunt
        pariatur voluptas? Libero rerum nostrum itaque inventore unde, nobis
        architecto ut.
      </p>
      <form id="decodeForm">
        <input type="file" name="qrImage" accept="image/*" required />
        <button type="submit">Decode</button>
      </form>
      <p id="message" style="margin-top: 20px"></p>
      <p id="result"></p>
    </div>

    <script src="script_decode.js"></script>
  </body>
</html>
